<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    </head>
    <body>
        {% if user.is_authenticated %}
            Hello, {{ user.username }}.
            <a href="/accounts/logout/">logout</a>
        {% else %}
        <a href="/accounts/login/">login</a>
        {% endif %}
        {% block content %}
         {% endblock %}
         
    </body>
</html>