{% extends 'base.html'%}

    {% block content %}
        <form action="/order_item/" method="POST"> {% csrf_token %}
        <table class="table">
        <tr>
            {#<th>勾選</th>#}
            
            <th>商品編號</th>
            <th>商品</th>
            <th>價格</th>
            <th>庫存</th>
            <th>選購數量</th>
        </tr>
        {% for p in products %}
        <tr>
            {#<td><input type="checkbox" name="id" value="{{ p.id }}"></td>#}
            <td>{{ p.id }}</td>
            <td>{{ p.product_name }}</td>
            <td>{{ p.product_price }}</td>
            <td>{{ p.product_stock }}</td>
            <td>
                <input type="text" name="product_qty">
            </td>
        </tr>
        {% endfor %}
        </table>
        <input type="submit" value="送出訂單">
        </form>
        

    
    
    
    
    {% endblock %}
    </body>
</html>