{% extends 'base.html'%}

    {% block content %}
        <form action="/order_item/" method="get">
        <table class="table">
        <tr>
            <th>勾選</th>
            <th>商品</th>
            <th>價格</th>
            <th>庫存</th>
            <th>選購數量</th>
        </tr>
        {% for p in products %}
        <tr>
            <td><input type="checkbox" name="id" value="{{ p.id }}"></td>
            <td>{{ p.product_name }}</td>
            <td>{{ p.product_price }}</td>
            <td>{{ p.product_stock }}</td>
            <td>
                <select name="product_qty" >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="8">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </td>
        </tr>
        {% endfor %}
        </table>
        <input type="submit" value="送出訂單">
        </form>
        

    
    
    
    
    {% endblock %}
    </body>
</html>